<header class="site-header" role="banner">
    <div class="wrapper">
        <div class="header-top">
            <div class="img-container">
                {% if site.logo %}
                    <a class="site-title" rel="author" href="/"><img class="site-logo" alt="logo" src="{{ site.logo | escape | prepend: "/assets/img/" | relative_url }}"/></a>
                {% endif %}
            </div>
            
            <nav class="main-nav">
                <a href="{{ "/" | relative_url }}" class="nav-link {% if page.url == '/' %}nav-active{% endif %}">HOME</a>
                <a href="{{ "/about/" | relative_url }}" class="nav-link {% if page.url contains '/about' %}nav-active{% endif %}">ABOUT</a>
                <a href="{{ "/services/" | relative_url }}" class="nav-link {% if page.url contains '/services' %}nav-active{% endif %}">SERVICES</a>
                {% if page.url == '/' %}
                    <a href="#contact" class="nav-link nav-contact">CONTACT</a>
                {% else %}
                    <a href="{{ "/" | relative_url }}#contact" class="nav-link nav-contact">CONTACT</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>